.dictionary-app-wrapper {
  background-image: url(https://epic-dictionary.netlify.app/static/media/workdesk.af3a7bd2.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
}

@media screen and (max-width: 700px) {
  .dictionary-app-wrapper {
    background-image: url("../public/Dictionary-mobile-bkg.png");
  }
}

.App {
    padding: 50px 0 90px;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;  
}

.App header {
  text-align: center;
  margin: 5px;
}


.App h1{
display: inline;
margin-top: 5px;
font-weight: 900;
font-size: 45px;

}

.App footer{
  text-align: center;
  padding: 20px;
}
